	     #formulario {
   			text-align: center;
            background-size: auto;
   		}
   		#contenido{
   			text-align: center;
   		}
   		#cabecera {
   			text-align: center;
   		}
   		img{
   			width: 400px;
   		}
   		body{
   			background-size: contain;
			
   		}